/* Default font for body - Kills the Serif font globally */
body {
    font-family: "Roboto", sans-serif !important;
}

/* secondary font (Used for text/paragraphs) */
.secondary-font, #secondary-font {
    font-family: "Roboto", sans-serif;
}

/* primary font (Used for Headings & Titles) */
.primary-font, #primary-font {
    font-family: "Alata", sans-serif;
}

/* Default font */
.default-font, #default-font {
    font-family: "Roboto", sans-serif;
}